.project__container {
  max-width: 1100px;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
}

.project__row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 0;
  height: auto;
}

.project__row:first {
  margin-top: 0;
}

/* .project__row:last-child {
  margin-bottom: 0;
} */

.project__details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
}

.project__details h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.project__details p {
  max-width: 450px;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  color: #fff;
}

.project__tools p {
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.692);
}

.project__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.project__icons li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.project__icons li a:hover {
  color: #01bf71;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.project__image {
}

.project__image img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .project__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }
  .project__details {
    max-width: 100%;
  }
  .project__details h3 {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
  }
  .project__details p {
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .project__tools p {
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
  }
  .project__icons li a {
    margin-right: 1rem;
  }
  .project__image {
    padding: 1.3rem 0;
  }
}
